<h1 class="sans-serif">Coach Answer</h1>

<div class="dialogue">
  <h2><%= @user_message %></h2>
  <h2>-You</h2>
</div>
<div class="dialogue">

  <h2><%= @answer %></h2>
  <h2>-Your Coach</h2>
</div>

<%= link_to "Ask another question", "ask" %>
