<h1 class="sans-serif">Stupid Coaching</h1>
<form action="/answer" method="get" class="sans-serif">
  <input type="text" name="question" placeholder="Talk with your coach!" class="query">
  <input type="submit" class="submit">
</form>
