// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sans-serif {
  font-family: sans-serif;
}

.dialogue h2 {
  font-family: sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 16px;
}

input {
  font-size: 16px;
}

a {
  font-family: sans-serif;
  padding: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  border-style: none;
  border: 1px solid rgb(50, 122, 184);
  margin-left: 32px;
  background-color: rgb(50, 122, 184);
    &:hover {
      background-color: rgba(50, 122, 184, 0.8);
    }
}

input {
  padding: 10px;
}

.submit {
  border-radius: 0px 4px 4px 0px;
  color: white;
  border-style: none;
  border: 1px solid rgb(50, 122, 184);
  margin-left: -5px;
  background-color: rgb(50, 122, 184);
    &:hover {
      background-color: rgba(50, 122, 184, 0.8);
    }
}

.query {
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #D9D9D9;
}

.dialogue {
  border-left: 16px solid #DDDDDD;
  padding: 8px;
  margin: 0px 0px 16px 40px;
  font-weight: lighter;
  &:hover {
    background-color: #FFFEE1;
  }
}
